@page "/pdf"

@inject IJSRuntime JS

<PageTitle>Create PDF</PageTitle>

<h1>Gerar PDF</h1>
Adicione o que deseja gerar em formato HTML e clique em "Gerar PDF"

<div class="form-outline">
    <br />
    <textarea class="form-control w-50" id="htmltopdf" rows="8" cols="16" @bind="htmlString">
    </textarea>
    <button class="btn btn-primary mt-4" @onclick="CreatePDF">Gerar PDF</button>
</div>

@code {
    private string htmlString { get; set; } = default!;


    private async Task CreatePDF()
    {
        var render = new IronPdf.ChromePdfRenderer();

        var doc = render.RenderHtmlAsPdf(htmlString);

        using var Content = new DotNetStreamReference(stream: doc.Stream);

        await JS.InvokeVoidAsync("SubmitHTML", "ironpdf.pdf", Content);
    }
}

